body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: Calibri;
}



.fixed {
    
    top: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background-color: slategray;
    color: white;
    left: 0;
    right: 0;
    padding: 20px 0px;
}

.relative {
    position: relative;
}

.main-div {
    width: 600px;
    margin: 0 auto;
    /* position: relative; */
    
}

#jellyfish {
    width: 600px;
    margin: 20px auto;
    /* position: relative;
    top: 100px; */
}

.h2 {
    background-color: slategray;
    color: #fff;
    margin: 0px;
    padding: 10px;
    text-decoration: underline;
}

h2 {
    margin: 0px;
}

p { 
    line-height: 1.5em;
}